.main-nav {
  padding: 20px;
  font-size: 20px;
  border: solid black 1px;
  background-color: rgb(36, 108, 96);
}

.nav-link-container {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid black 1px;
}

.nav-link-container:last-of-type {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.nav-link:not(.active):hover {
  color: purple;
}

.nav-link.active {
  color: lightcyan;
}

@media (min-width: 600px) {
  .nav-link {
    font-size: 20px;
  }
}
