.main-nav {
  padding: 20px;
  font-size: 20px;
  border: solid black 1px;
  background-color: lightseagreen;
}

.nav-link-container {
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid black 1px;
}

.nav-link-container:last-of-type {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}

.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:not(.active):hover {
  color: purple;
}

.nav-link.active {
  color: lightcyan;
}
