.newBlogForm {
  text-align: center;
}

.form-header {
  text-align: center;
}

.error {
  border: 2px solid red;
}

.submit {
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}
label {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
}

input {
  margin: 5px;
  font-size: 16px;
}

textarea {
  margin: 5px;
  font-size: 16px;
  max-width: 300px;
  max-height: 150px;
}

.errorMsgDiv {
  margin-left: 5px;
  color: red;
}
