.sidebar-container {
  margin: 40px 15px 40px 15px;
}

.sidebar-nav {
  border: red solid 1px;
  margin-bottom: 3px;
}

.sidebar-quote {
  text-align: center;
}
.sidebar-nav-link {
  margin-left: 20px;
}
.sidebar-nav-link-container {
  margin-bottom: 10px;
}
.sidebar-pics-container {
  display: none;
  display: flex block;
}
.sidebar-pic {
  height: 130px;
  border: solid black 1px;
  margin-bottom: 3px;
  padding: 2px;
}
.sidebar-pic:last-of-type {
  margin-bottom: 0;
}
.sidebar-quote-container {
  border: orange solid 1px;
  margin-bottom: 3px;
}

@media (min-width: 600px) {
  .sidebar-container {
    width: 200px;
    /* height: 400px; */
  }

  .sidebar-pics-container {
    display: unset;
  }
}
