.sidebar-container {
  border: 3px solid lightseagreen;
  margin: 20px;
}
.sidebar-content {
  background-color: red;
}

.sidebar-quote {
  text-align: center;
}
.sidebar-nav-link {
  margin-left: 20px;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .sidebar-container {
    width: 200px;
    height: 400px;
  }
}
